* {
	font-family: "Trebuchet MS", Arial;
	font-size: 12px;
}

.page-header {
	background-color: blue;
}

.btn {
	font-weight: bold;
}

.table {
	table-layout: fixed;
 	word-wrap: break-word;
}

.table, table, th {
	text-align: center;
}