.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

.navbar a span  {
	margin-right: 5px;
	margin-left: 5px;
	color: white;
}

.navbar .glyphicon {
	color: white !important;
}

.navbar .dropdown-toggle span {
	font-weight: bold;
}